POSTGRES_DB=wedding
POSTGRES_USER=wedding
POSTGRES_PASSWORD=wedding

DB_URL=jdbc:postgresql://db:5432/wedding
DB_USERNAME=wedding
DB_PASSWORD=wedding

ABACATEPAY_API_KEY=sua-chave
ABACATEPAY_BASE_URL=https://api.abacatepay.com
CORS_ALLOWED_ORIGINS=http://localhost:9000

JWT_SECRET=troque-isso-em-producao-use-uma-string-longa-e-aleatoria

VITE_API_BASE_URL=http://localhost:8080/api
